<div class="container subdiv">
  <h1 style="font-size: 50px">Mail Us</h1>
  </div>
  <div class="container">
  <div class="row">
      <div class=" col-sm-4">
          <button type="button" class="btn btn warning btn-lg" style="background-color: #ff9800;   margin-left:120px">
              <i   class="glyphicon glyphicon-map-marker"></i>
            </button>
            <h2 style="color:red; margin-left:80px">Address</h2>
            <p>9th floor - Palace Building - 221B Walk of Fame-<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hyderabad</p>
      </div>
      <div class="col-sm-4">
          <button type="button" class="btn btn warning btn-lg" style="background-color: #ff9800; margin-left:120px">
              <i  class="glyphicon glyphicon-earphone"></i>
            </button>
            <h2 style="color:red; margin-left:115px">Phone</h2>
            <p style="text-align:center">Telephone: +91-74004-62718</p>
      </div>
          <div class="col-sm-4">
              <button type="button" class="btn btn warning btn-lg" style="background-color: #ff9800; margin-left:150px">
                  <i class="glyphicon glyphicon-envelope"></i>
                </button>
                <h2 style="color:red; margin-left:125px">E-Mail</h2>
                <p style="text-align:center">E-Mail :<span style="color:blue">mailto:puja@mail.com</span></p>
          
      </div>
    </div>
    </div>
  