.navbar{
    background: #FA5A00;
    
    border-radius:0px;
    margin-bottom: 0;
}

.navbar[_ngcontent-c1]{
    height: 25px;
}
.nav > li > a{
    color:white;
    background:none;
    font-size: 14px;
}
.nav > li > a:hover{
 color:white;
 background: none;
}
.nav >navbar-nav{
    padding-top:10px;
}
.navbar-brand{
    color:white;
    font-size: 14px;
}