<div class='container'>
    <div class='form1'>
      <form>
        <div class='form-header'>
          <h2>Change Password</h2>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-envelope"></i>
          </span>
          <input id="email" type="text" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input id="newPassword" type="password" class="form-control" name="password" placeholder="New Password">
          </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input id="rePassword" type="password" class="form-control" name="rePassword" placeholder="Confirm New Password">
        </div>
        <div class="input-group">
          <button class='btn btn-warning '>Update</button>
        </div>
      </form>
    </div>
  </div>