<h1 class="discriprtionpunashthra3">Punyakhestrams</h1>

<div class="discriprtionpunashthra2" >
  <p> &nbsp; &nbsp; &nbsp;Many interpretations can be given in Hinduism to the word "puja" which consists of two letters, namely, "pa" and "ja." According to one interpretation, "pa" means "parayana" or 
    continuous repetition of the names of Godand "ja" means "japa" or
 
  Hindu worship in which both parayanam and japam are practiced by the devotees.
   </p>
  </div>
  
  <div class="discriprtionpunashthra1"><p>
      &nbsp; &nbsp; &nbsp;In a puja ceremony, Hindus offer both flowers and water to the deity. Thus from this point of view, "pu" means "pushpam" or flower and "ja" means "jal." The letter "ja"
      
      can also mean simultaneously "japam." So in this context, puja becomes that form of Hindu worship, during which water and flowers are offered to 
      God along with recitation of His names.</p>
</div>
