<div class='container'>
    <div class='form1'>
      <form>
        <div class='form-header'>
          <h2>Register To SreePooja</h2>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input id="name" type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-envelope"></i>
          </span>
          <input id="email" type="text" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input id="rePassword" type="password" class="form-control" name="rePassword" placeholder="Confirm Password">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-phone"></i>
          </span>
          <input id="phone" type="text" class="form-control" name="name" placeholder="Phone No">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list"></i>
          </span>
          <input id="address" type="text" class="form-control" name="name" placeholder="Address">
        </div>
        <div class="input-group">
            <div class="form-group pofile-image">
                <label class='upload-image' for="exampleFormControlFile1">Upload Image </label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
        </div>
        <div class="input-group">
          <button class='btn btn-warning '>Register</button>
        </div>
        <div class='footers'>
          <div>
            <h5>
              Already registered?
              <a href='#' [routerLink]='"../login"'>login here.. </a>
            </h5>
          </div>
        </div>
      </form>
    </div>
  </div>