
  <h1>Pujas</h1>
<div  class="discriprtionpuja1" >
  
    <p>  &nbsp; &nbsp; &nbsp; &nbsp;Many interpretations can be given in Hinduism to the word "puja" which consists of two letters, namely, "pa" and "ja." According to one interpretation, "pa" means "parayana" or
      
      &nbsp;continuous repetition of the names of God and "ja" means "japa" or continuous mental recitation of the names of God. According to this interpretation "puja" is essentially a kind of
Hindu worship in which both parayanam and japam are practiced by the devotees.</p>
      
  </div>
  <div class="discriprtionpuja2">
    
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In a puja ceremony, Hindus offer both flowers and water to the deity. Thus from this point of view, "pu" means "pushpam" or flower and "ja" means 
      
"jal." The letter "ja" can also mean simultaneously "japam." So in this context, puja becomes that form of Hindu worship, during which water and flowers are offered to God along with recitation of His names.
  </div>