
  <div class="container subcontactus">
    <h1 style="font-size: 50px">Get In Touch With Us</h1>
    </div>
    <div class="container">
        
          <div class="form-group col-sm-4">
            <input type="text" style="border-radius:5px; height:50px" class="form-control" placeholder="Name">
          </div>
          <div class="form-group col-sm-4">
            <input type="email" style="border-radius:5px; height:50px" placeholder="Email" class="form-control" >
          </div>

          <div class="form-group col-sm-4">
              <input type="text" style="border-radius:5px; height:50px" placeholder="Telephone" class="form-control" >
            </div>
            <div class="form-group">
                <textarea class="form-control" style="border-radius:5px; height:250px" placeholder="Message"></textarea>
              </div>
              <button type="button" class="btn btn-warning">Submit</button>
<button type="button" class="btn btn-warning">Clear</button>
    </div>          

               