<section class="index-link">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <P>Building Consensus among your Senior leaders to leverage your digital strengths and work on gaps which are hindering your growth.</P>
                    <li class="fa-li"><a href="#"><span><img src="../assets/images/twwitter.png" style="height:48px;width:48px"></span></a></li>
                    <li class="fa-li"><a href="#"><span><img src="../assets/images/fb.png" style="height:48px;width:48px"></span></a></li>
                    <li class="fa-li"><a href="#"><span><img src="../assets/images/li.png" style="height:48px;width:48px"></span></a></li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>My Account</h3>
                    <ul>
                    <li><a href="#"> Checkout</a></li>
                    <li><a href="#"> Login</a></li>
                    <li><a href="#"> Create Account</a></li>
                   
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>Information</h3>
                    <ul>
                    <li><a href="#"> Home</a></li>
                    <li><a href="#"> Pujas</a></li>
                    <li><a href="#"> Punyakshethrams</a></li>
                    <li><a href="#"> contact</a></li>
                   
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>Contacts</h3>
                    <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Palace building-Hyderabad</a></li>
                    <li><a href="#"> <span class="glyphicon glyphicon-earphone"></span> +91-7400462718</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> contactPuja@gmail.com</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
