body {
    padding-top:10em;
  }
  .index-link{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: tomato;
    color: white;
    padding:40px;
  }
  .index-social{
      background-color:#2c2c2c;
      color:#fff;
  }
  .link-area .fa-li{
      width:40px;
      height:40px;
      border:solid 1px #fff;
      list-style-type:none;
      margin:5px;
      display:none;
  }
  .index-social a{
      color:#fff;
      font-size:25px;
      display:block;
      float:left;
      padding:10px;
  }
  .index-link h3{
      text-align:center;
     color:#f1f1f1;
     text-align:left;
     
  }
  .index-link{
    background: #F4511E;
  }
  .index-link ul{
      padding:0px;
  }
  .index-link ul li{
      list-style-type:none;
  }
  .index-link ul li a{
    text-decoration:none;
    font-size:16px;
    color:#fff;
    display:block;
    padding:5px 0;
    text-align:left;
  }
  .index-link ul li a:hover{
       text-decoration:underline;
  }
  .copy-c{
      padding-top:15px;
  }